<VirtualHost *:80>
  ServerName {{ BANQUET_BOOKING_DOMAIN }}
  ServerAlias {{ BANQUET_BOOKING_DOMAIN }}
  DocumentRoot /var/www/{{ BANQUET_BOOKING_DOMAIN }}/html
  ErrorLog /var/www/{{ BANQUET_BOOKING_DOMAIN }}/log/error.log
  CustomLog /var/www/{{ BANQUET_BOOKING_DOMAIN }}/log/requests.log combined
</VirtualHost>